.places__paragraph {
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #ffffff;
  }
  .places__paragraph:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 870px) {
    .places__paragraph {
      font-size: 16px;
      line-height: 163%;
    }
  }

  @media (max-width: 620px) {
    .places__paragraph {
      padding: 0 16px;
      font-size: 16px;
      line-height: 163%;
    }
  }