.header__lang-link {
    align-self: flex-end;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-right: 18px;
    }
.header__lang-link:last-child{
    margin-right: 0;
}

@media(max-width: 550px){
    .header__lang-link{
        align-self: center;
        font-size: 18px;
        line-height: 20px;
    }
}