.places__text {
    max-width: 484px;
  }
  @media (max-width: 1024px) {
    .places__text {
      max-width: 456px;
    }
  }
  @media (max-width: 870px) {
    .places__text {
      max-width: 352px;
    }
  }

  @media (max-width: 620px) {
    .places__text {
      max-width: 100%;
    }
  }