.lead__title {
    margin: 0 auto 32px;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
    }
    @media(max-width: 700px){
        .lead__title{
            font-size: 50px;
            line-height: 44px;
        }
    }
    @media(max-width: 700px){
        .lead__title{
            font-size: 40px;
        }
    }