.conteiner{
    margin: 0 auto;
    max-width: 984px;
}
@media (max-width:1024px){
    .conteiner{
        padding: 0 28px;
    }
}
@media (max-width:768px){
    .conteiner{
        padding: 0 24px;
    }
}
@media (max-width:420px){
    .conteiner{
        padding: 0 16px;
    }
}