.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  .footer__list {
    gap: 32px 10px;
  }
}
@media (max-width: 500px) {
  .footer__list {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
